body {
  overflow: hidden;
}

.container {
  padding: 0;
}

canvas {
  background:url(/img/bg.jpg) no-repeat center center;
  background-size: cover;
  display: block;
  width: 100%;
}

.shipHud {
  font-size: 0.8em;
  position: absolute;
  top: 50px;
  right: 0;
  color: #FFF;
  width: 180px;
}

.carousel {
  margin-top: 50px;
}

.carousel .item > img {
  height: 600px;
  text-align: center;
}

.carousel-caption {
  background: #000;
}